body {
    padding: 0;
    position: relative;
}
.btn-groups {
    position: absolute;
    right: 20px;
    top: 20px;
}
.start-btn,
.stop-btn {
    display: inline-block;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.start-btn {
    background-color: #ff0081;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.stop-btn {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    margin-left: 20px;
    box-shadow: 0 2px 25px rgba(22, 217, 227, 0.5);
}
